.h-phone span {
  font-family: 'Noto Sans JP', sans-serif;
}

.lead {
  font-weight: 500;
}

.lh-0 {
  line-height: normal;
}

.float li {
  display: inline;
}

.active {
 color: #ffffff!important;
}
