.h-phone span {
  font-family: 'Noto Sans JP', sans-serif;
}

.lead {
  font-weight: 500;
}

.lh-0 {
  line-height: normal;
}

.float li {
  display: inline;
}

.active {
  color: #ffffff !important;
}

.iziModal .iziModal-header {
  background: #00AEEF !important;
  padding: 14px 18px 15px;
  box-shadow: inset 0 -10px 15px -12px rgba(0, 0, 0, .3), 0 0 0 #555;
  overflow: hidden;
  position: relative;
  z-index: 1000000;
}

/* pcを表示 */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* spを表示 */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

.collapsible-link::before {
  right: 0.2rem;
}

.collapsible-link::after {
  right: calc(0.2rem + 6px);
}

li {
  white-space: nowrap;
}
